<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Multiple Wishlist for Magento 2
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amasty_mwishlist>
            <general>
                <enabled>0</enabled>
            </general>
            <customer_notifications>
                <enabled>0</enabled>
                <frequency>D</frequency>
                <time>23,50,00</time>
            </customer_notifications>
        </amasty_mwishlist>
        <crontab>
            <default>
                <jobs>
                    <amasty_mwishlist_notify_customer>
                        <schedule>
                            <cron_expr>50 23 * * *</cron_expr>
                        </schedule>
                    </amasty_mwishlist_notify_customer>
                </jobs>
            </default>
        </crontab>
    </default>
</config>
